.underline{
    margin-bottom:20px
}
.underline a {
    text-decoration: none;
    color:black
}

.container{
    display:flex
}

.left {
    margin-right:40px;
}

.right {
    background-color: rgba(179, 91, 208, 0.72);
    flex:1   
}

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .table td a {
    color:black;
    text-decoration: none;
  }
  .table th {
    font-weight: bold;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #fce2fa;
  }

  .filterMenu {
    display: flex;
    margin-left: 140px;
    margin-bottom: 10px;
    }
  
  .choose {
    padding:3px 8px 3px 8px;
    margin-right: 100px;
    margin-left:20px
  }

.link {
    position: relative;
    color: rgba(62, 0, 129, 0.912);
    font-size: 20px;
    text-decoration: none;
}

.link .float {
  position: absolute;
  top: 30px;
  opacity: 0;
  z-index: 2;
  font-size: 15px;
  background-color: rgb(71, 71, 71);
  color: white;
  opacity: 0;
  transition: 0.3s;
  padding: 5px;
  border-radius: 3px;

}

.link:hover .float {
  opacity: 1;
}
