.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBox {
    padding: 10px 10px 10px 10px;
    width: 500px;
    margin-bottom: 20px;
    font-size: 20px;
}

.button {
    padding: 10px 10px 10px 10px;
    width: 525px;
    margin-top: 20px;
    color:rgba(17, 0, 35, 0.912);
    border-radius: 5px;
    font-size: 20px;
    background-color: rgba(226, 185, 242, 0.695)
}

.form {
    display: flex;
    flex-direction: column;
}

.small {
    display: flex;
    flex-direction: column;
}

.h1 {
    color:rgba(17, 0, 35, 0.912);
    font-weight: bold;
}

.end {
    margin-top:20px;
    font-weight: bold;
    color:rgba(17, 0, 35, 0.912);
}